<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header>
    <div class="wrapper">
      <nav>
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/about">About</RouterLink>
        <RouterLink to="/blog">Blog</RouterLink>
      </nav>
    </div>
  </header>

  <RouterView />
</template>
<style lang="scss">
@import './assets/sass/main';
nav {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;

  a {
    width: calc((100% - 15xp) / 10);
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    border: 1px solid $primary;
    background-color: $secondary;
    text-align: center;
    text-decoration: none;
  }
  a:hover{
    color: $text;
    border: 1px solid $secondary;
    background-color: $primary;
  }
}
</style>
