@import 'variables';

ul{
    width: 100vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
    li{
        width: auto;
        background-color: $primary;
        text-decoration: none;
    }
}

li{
    list-style: none;
    a{
        
        font-size: 1rem;
        color: $primary;
        text-decoration: none;
        &:hover{
            color: $text;
        }
    }
}